* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  background-color: #37026e;
}

.page-title {
  color: #d3a9ff;
  text-align: center;
}

.movie-list {
  padding: 0;
  padding-top: 1em;
  list-style-type: none;
  width: 100%;
}

.movie {
  background-color: #6b29ab;
  background-image: linear-gradient(0deg, #d3a9ff -9%, #6b29ab);
  border-radius: 5px;
  display: flex;
  margin-bottom: 1em;
}

.column-left {
  flex: 3;
  position: relative;
}

.column-right {
  color: whitesmoke;
  flex: 7;
  padding: 1.5em;
}
.movie-poster {
  box-shadow: 0.5em 1em 5em 0.5em #3c0376;
  border-radius: 5px;
}

@media (min-width: 1025px) {
  .movie {
    height: 15em;
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .movie-poster {
    height: 15em;
    left: 1em;
    position: relative;
    top: -1em;
  }

  .column-right {
    margin-left: -10em;
  }

  .movie-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.35em;
    margin-top: 0;
  }

  .movie-duration,
  .movie-rating,
  .movie-language {
    font-size: 1.25em;
    margin-bottom: 0.25em;
    margin-top: 0;
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  .movie {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 13em;
  }

  .movie-poster {
    height: 15em;
    left: 1em;
    position: relative;
    top: -1em;
  }

  .column-right {
    margin-left: -6em;
  }

  .movie-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.35em;
    margin-top: 0;
  }

  .movie-duration,
  .movie-rating,
  .movie-language {
    font-size: 1.25em;
    margin-bottom: 0.25em;
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .movie {
    display: flex;
    flex-direction: row;
    height: 15em;
  }

  .movie-poster {
    height: 15em;
    left: 1em;
    position: relative;
    top: -0.5em;
  }

  .column-right {
    margin-left: -3em;
  }

  .movie-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.33em;
    margin-top: 0;
  }

  .movie-duration,
  .movie-rating,
  .movie-language {
    font-size: 1em;
    margin-bottom: 0.25em;
    margin-top: 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .movie {
    display: flex;
    flex-direction: row;
    height: 8em;
  }

  .movie-poster {
    height: 8em;
    left: 1em;
    position: relative;
    top: -0.5em;
  }

  .column-right {
    margin-right: 5em;
  }

  .movie-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.33em;
    margin-top: 0;
  }

  .movie-duration,
  .movie-rating,
  .movie-language {
    font-size: 1em;
    margin-bottom: 0.25em;
    margin-top: 0;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .movie {
    display: flex;
    flex-direction: row;
    height: 7em;
    width: 100%;
  }

  .movie-poster {
    height: 5em;
    left: 1em;
    position: relative;
    top: -0.7em;
  }

  .column-right {
    margin-right: 4em;
    margin-top: -1.5em;
  }

  .movie-title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-top: 0;
  }

  .movie-duration,
  .movie-rating,
  .movie-language {
    font-size: 1em;
    margin-bottom: 0.2em;
    margin-top: 0;
  }
}

@media (min-width: 290px) and (max-width: 320px) {
  .movie {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 6.5em;
  }

  .movie-poster {
    height: 6em;
    left: 1em;
    position: relative;
    top: -0.5em;
  }

  .column-right {
    margin-left: 0.5em;
    margin-top: -0.5em;
  }

  .movie-title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.33em;
    margin-top: 0;
  }

  .movie-duration,
  .movie-rating,
  .movie-language {
    font-size: 0.5em;
    margin-bottom: 0.25em;
    margin-top: 0;
  }
}

/* Detail View CSS */

.movie-details-tcontainer {
  font-family: sans-serif;
  padding: 0.25em;
  position: relative;
}

.movie-details-trailer {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.movie-trailer {
  height: 100%;
  width: 100%;
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 440px) and (max-width: 1380px) {
  .movie-details-trailer {
    display: inline-block;
    height: 33vh;
    width: 50vw;
  }

  .movie-details-booking {
    top: 3em;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 359px) and (max-width: 640px) {
  .movie-details-trailer {
    display: inline-block;
    height: 33vh;
    width: 50vw;
  }

  .movie-details-booking {
    top: 4em;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .movie-details-trailer {
    display: inline-block;
    height: 33vh;
    width: 75vw;
  }

  .movie-details-booking {
    top: 4em;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .movie-details-trailer {
    display: inline-block;
    height: 33vh;
    width: 100vw;
  }

  .movie-details-booking {
    top: 15em;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .movie-details-trailer {
    display: inline-block;
    height: 33vh;
    width: 100vw;
  }

  .movie-details-booking {
    top: 14em;
  }
}

@media (min-width: 200px) and (max-width: 319px) {
  .movie-details-trailer {
    display: none;
    height: 33vh;
    width: 100vw;
  }

  .movie-details-booking {
    top: 14em;
  }
}

.movie-details-info {
  display: inline-block;
  color: #efefe3;
  padding: 0.25em;
  padding-top: 0.5em;
  top: 0px;
  vertical-align: top;
}

.movie-info-list {
  list-style-type: none;
  padding: 1em;
}

.movie-genre {
  left: 0;
  text-align: left;
}

.genre-detail {
  font-weight: bold;
}
.movie-genre,
.movie-duration,
.movie-rating,
.movie-session-clock,
.movie-session-calendar {
  padding-bottom: 0.5em;
}

.movie-duration-time {
  color: #c32b54;
  padding-left: 0.25em;
}

.movie-session-calendar,
.movie-session-clock {
  margin-right: 0.25em;
}

.movie-star-rating {
  color: #ce742d;
}

.movie-session-calendar {
  color: #b9bde4;
}
.movie-session-clock {
  color: #96111c;
}

.movie-details-story-container {
  padding-left: 1em;
}

.movie-details-story {
  color: #efefe3;
  font-family: sans-serif;
  height: 48vh;
  width: 100%;
}

.movie-details-title {
  font-weight: 900;
  line-height: 2em;
  padding-top: 0.5em;
}

.movie-detailed-script {
  font-size: 1em;
  font-weight: 400;
  line-height: 2em;
  padding: 0.25em;
}

.movie-cast {
  color: #c1e0f8;
  margin-right: 0.25em;
}
.movie-cast-list,
.movie-crew-list {
  list-style-type: none;
}

.movie-crew {
  font-weight: 600;
}
.movie-cast-name,
.movie-crew-name {
  display: inline-block;
  padding-left: 0.25em;
}

.movie-crew {
  font-weight: 900;
  margin-top: 1em;
}

.movie-cast-list,
.movie-crew-list {
  margin-top: 0.25em;
}

.movie-details-booking {
  position: relative;
  text-align: center;
}

.movie-book-btn,
.movie-back-btn {
  background: #42a5f6;
  border-radius: 0.5em;
  border: none;
  color: white;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1em;
  padding: 0.5em 1em;
  text-align: center;
}

.movie-ticket,
.previous-page {
  padding: 0.25em;
}
